<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student001" class="io.cc54112700.springbean.entity.Student">
        <property name="id" value="123"/>
        <property name="name" value="ame"/>
    </bean>

<!--    <bean id="ifbean" class="io.cc54112700.springbean.config.factorybean.IFactoryBean">-->
<!--        <property name="factoryId" value="1024"/>-->
<!--        <property name="factoryName" value="John Wick"/>-->
<!--    </bean>-->

<!--    <bean id="by-serviceLoaderFactoryBean"-->
<!--          class="org.springframework.beans.factory.serviceloader.ServiceLoaderFactoryBean">-->
<!--        <property name="serviceType"-->
<!--                  value="io.cc54112700.springbean.config.serviceloader.IFactory"/>-->
<!--    </bean>-->
</beans>